/* common */
.orange {
  background-color: #fceccc;
}
.sky {
  background-color: #e1fbff;
}
.yellow {
  background-color: #feffde;
}

.mail {
  background-color: #00c3de;
}
.line {
  background-color: #00de09;
}
.call {
  background-color: #fb7311;
}

.mb30 {
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: #ffffff;
  display: block;
}

p {
  margin: 0;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0;
  font-family: Noto Sans JP;
  color: #483c34;
  font-size: 18px;
}

.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}
.txt_og {
  color: #ff5e00;
  font-size: 60px;
  font-weight: 700;
}

.txt_gr {
  color: #008504;
  font-size: 60px;
  font-weight: 700;
}

/* mv */
.mv {
  padding: 50px 0;
}

.mv_txt {
  text-align-last: left;
}

.subtitle {
  background-color: #f07d3a;
  color: #ffffff;
  width: 631px;
  height: 79px;
  line-height: 79px;
  padding-left: 30px;
  font-size: 40px;
  font-weight: bold;
}

.title {
  color: #ff5e00;
  font-size: 96px;
  font-weight: 900;
  background: linear-gradient(transparent 80%, yellow 50%);
  display: inline-block;
}
div p:nth-child(3) {
  font-size: 80px;
}

.mv_box {
  display: flex;
  margin-top: 30px;
}

.btn {
  margin-left: 20px;
}

.btn > div {
  position: relative;
  width: 480px;
  height: 90px;
  line-height: 90px;
  border-radius: 45px;
}

.btn > div:hover {
  opacity: 0.6;
}

.btn > div:not(:last-child) {
  margin-bottom: 30px;
}

.btn > div > a {
  font-size: 28px;
  box-sizing: border-box;
  font-weight: 700;
  display: block;
  width: 100%;
  text-align: center;
}

.btn > div > a > img {
  width: 64px;
  height: auto;
  margin-right: 15px;
  vertical-align: -20px;
}

/* worry */
.worry {
  padding: 50px 0;
  position: relative;
}

.wave {
  text-decoration: underline wavy #008504;
  text-underline-offset: 12px;
}

.worry_list {
  width: fit-content;
  margin: 80px auto;
  font-size: 30px;
}

.worry_list > li:not(:last-child) {
  margin-bottom: 40px;
}

.worry_list > li > img {
  width: 60px;
  height: auto;
  margin-right: 15px;
  vertical-align: -15px;
}

.worry_pc > img {
  width: 18%;
}

.worry_sp {
  display: none;
}

.left {
  position: absolute;
  left: 0;
  top: 15%;
}
.right {
  position: absolute;
  right: 0;
  top: 15%;
}

.triangle {
  width: 0;
  height: 0;
  margin: 50px auto;
  border-style: solid;
  border-right: 125px solid transparent;
  border-left: 125px solid transparent;
  border-top: 65px solid #1da821;
  border-bottom: 0;
}

/* cousult */
.consult {
  padding: 120px 0;
}

.consult_title {
  margin-bottom: 90px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.consult_list li {
  position: relative;
  background-color: #ffffff;
  width: 350px;
  height: 500px;
  border-radius: 93px;
  padding: 50px;
}

@media screen and (min-width: 481px) {
  .consult_list > li:last-child {
    margin-top: -300px;
  }
  .flex > li:last-child {
    margin-top: 40%;
  }
}

.icon {
  display: block;
  margin: 0 auto;
}

.list_title {
  color: #1da821;
  font-size: 38px;
  font-style: normal;
  font-weight: 900;
  margin: 20px 0;
}

.list_text {
  color: #483c34;
  font-size: 28px;
  font-weight: 500;
}

.number {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* contact */
.contact {
  padding: 120px 0;
}

.contact_btn {
  margin-top: 70px;
}

.contact_btn > div {
  margin: 0 auto;
}

/* レスポンシブ */
@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
  body {
    width: 100%;
    max-width: 959px;
    font-size: 20px;
  }

  p {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }

  .txt_og {
    font-size: 45px;
  }

  .txt_gr {
    font-size: 45px;
  }

  .subtitle {
    font-size: 40px;
  }

  .title {
    font-size: 60px;
  }

  div p:nth-child(3) {
    font-size: 60px;
  }

  .mv_img {
    width: 500px;
    margin: 0 auto;
  }

  .mv_box {
    display: block;
    margin-top: 30px;
  }

  .btn {
    width: 450px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .btn > div {
    width: 450px;
  }

  .worry_list {
    width: 100%;
    font-size: 25px;
  }

  .worry_list > li:not(:last-child) {
    margin-bottom: 40px;
  }

  .worry_list > li > img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    vertical-align: -10px;
  }

  .worry_pc {
    display: none;
  }

  .worry_sp {
    display: block;
    position: relative;
  }

  .worry_sp > figure {
    text-align: center;
  }
  .worry_sp > img:first-child {
    position: absolute;
    width: 90px;
    top: 30px;
    left: 60px;
  }

  .triangle {
    width: 0;
    height: 0;
    margin: 50px auto;
    border-style: solid;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-top: 55px solid #1da821;
    border-bottom: 0;
  }

  .flex {
    display: block;
  }

  .consult_list {
    width: fit-content;
    margin: 0 auto;
  }

  .consult_list li:not(:first-child) {
    margin-top: 60px;
  }
}
@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  body {
    width: 100%;
    max-width: 480px;
    font-size: 18px;
  }

  p {
    font-size: 18px;
  }

  .txt_og {
    font-size: 24px;
  }

  .txt_gr {
    font-size: 24px;
  }

  .subtitle {
    width: 300px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    padding: 0 10px;
  }

  .title {
    font-size: 40px;
    background: linear-gradient(transparent 65%, yellow 50%);
    display: inline;
  }

  .title > br {
    display: block !important;
  }

  div p:nth-child(3) {
    font-size: 40px;
  }

  .mv_img {
    width: 350px;
    margin: 0 auto;
  }

  .mv_box {
    display: block;
    margin-top: 30px;
  }

  .btn {
    width: 330px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .btn > div {
    width: 330px;
    height: 60px;
    line-height: 60px;
  }

  .btn > div:not(:last-child) {
    margin-bottom: 20px;
  }

  .btn > div > a {
    font-size: 20px;
  }

  .btn > div > a > img {
    width: 35px;
    height: auto;
    margin-right: 10px;
    vertical-align: -10px;
  }

  .worry_title {
    font-size: 16px;
  }

  .wave {
    text-underline-offset: 5px;
  }

  .worry_list {
    width: 330px;
    margin: 50px auto;
    font-size: 18px;
    margin-left: 30px;
  }

  .worry_list > li:not(:last-child) {
    margin-bottom: 30px;
  }

  .worry br {
    display: block !important;
  }

  .space {
    margin-left: 34px;
  }

  .worry_list > li > img {
    width: 30px;
    margin-right: 5px;
  }

  figure img {
    width: 100%;
  }

  .worry_sp > img:first-child {
    position: absolute;
    width: 60px;
    top: 0px;
    left: 10px;
  }

  .triangle {
    border-style: solid;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-top: 40px solid #1da821;
  }

  .consult {
    padding: 60px 0;
  }

  .consult_title {
    margin-bottom: 40px;
  }

  .consult_list li {
    width: 330px;
    height: 400px;
    border-radius: 70px;
    padding: 30px;
    width: fit-content;
    margin: 0 auto;
  }

  .consult_list li:not(:first-child) {
    margin-top: 40px;
  }

  .list_title {
    font-size: 30px;
    margin: 20px 0;
  }

  .list_text {
    font-size: 20px;
  }

  .icon {
    width: 120px;
  }

  .number {
    width: 35%;
  }
}
